@import "tailwindcss";

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* #main {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(4, 1fr);
gap: 10px;
}  */